@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Josefin+Sans|Merriweather|Orbitron');

body {
  text-align: center;
  background-color: rgb(188, 211, 214);
}
.container {
  width: 960px;
  margin: 0 auto;
  background-color: #999;
}
.container p {
  width: 60%;
  margin: 0 auto;
  font-family: Merriweather;
}
h1, h2 {
  margin: 0 auto;
  padding: 20px 0px;
}
h1 {
  font-size: 35px;
  font-family: Aref Ruqaa;
}
h2 {
  font-size: 24px;
  font-family: Orbitron;
}
article {
  margin: 40px auto;
}
img {
  height: 250px;
  width: 250px;
  margin: 0 25px;  //why is there an extra gap when the page renders?
}
img:first-child {
  margin-left: 0;
}
img:last-child {
  margin-right: 0;
}
button {
  width: 250px;
  height: 40px;
  transition: 350ms all;
  display: inline;
  border: 1px solid black;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: cursive;
}
button:hover {
  background-color: lightblue;
}
#results {
  display: none;
}
.disabled {
  background-color: #ddd;
  color: #999;
  border: 1px solid #ccc;
}
.disabled:hover {
  background-color: #ddd;
}
canvas {
  display: none;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
